%tr
  %td= filled_form.insurance_application_form.name
  %td= link_to 'View XML Content', "#{form_xml_content_insurance_service_path(filled_form.id)}.xml", target: '_blank'
  %td
    = filled_form.status
    - if filled_form.PUBLISHED?
      = link_to '(Download PDF)', download_pdf_insurance_service_path(filled_form), target: '_blank'
  %td= link_to 'Edit', edit_insurance_service_path(filled_form.id), class: 'btn btn-sm btn-primary'
