%tr
  %td= filled_form.insurance_application_form_id
  %td= filled_form.xml
  %td= filled_form.user_id
  %td= filled_form.submitted_at
  %td= filled_form.status
  %td= link_to 'Edit', edit_insurance_service_path(filled_form.id), class: 'btn btn-sm btn-primary'
