.row
  .col-md-12
    %a.btn.btn-primary.btn-md.pull-right.create-insurance-application{"data-target" => "#insurance-app-create", "data-toggle" => "modal", :type => "button"} Create Insurance Application
    %a.btn.btn-primary.btn-md.pull-right.upload-application{:type => "button"} Upload Application

.row.admin-search
  .col-md-6
    .input-group
      %span#basic-addon1.input-group-addon Company Name
      %input.form-control{"aria-describedby" => "basic-addon1", :placeholder => "Search Company", :type => "text", id: "search_company_name", data: {old: ""}}/
  .col-md-6
    .input-group
      %span#basic-addon1.input-group-addon Application Type
      = select("Application Type", "application_type", InsuranceApplicationForm.all.collect {|p| [ p.name, p.id ] }, { include_blank: true}, html_options={class: "form-control", id: "search_application_type", data: {old: ""}})
.row.admin-search
  .col-md-6
    .input-group
      %span#basic-addon1.input-group-addon Application Number
      %input.form-control{"aria-describedby" => "basic-addon1", :placeholder => "Search Application number", :type => "text", id: "search_application_number", data: {old: ""}}/
  .col-md-6
    .input-group
      %span#basic-addon1.input-group-addon Status
      = select("Status", "status", [["DRAFT", 0], ["PUBLISHED", 1]], { include_blank: true}, html_options={class: "form-control", id: "search_status", data: {old: ""}})

%table#example.display.table.table-striped.table-bordered{:cellspacing => "0", :width => "100%"}
  %thead
    %tr
      %th Application Number
      %th Company Name
      %th Application Type
      %th Modified By
      %th Last Modified Time
      %th Status
      %th Actions

#insurance-app-create.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Insurance Application
      .modal-body
        = form_for @app_form_new, url: insurance_services_path, method: :post, html: {class: "form-horizontal", id: "insurance_application_create"} do |f|
          .form-group
            .col-md-10
              = f.select(:insurance_application_form_id, InsuranceApplicationForm.all.collect {|u| [u.name, u.id]}, {include_blank: true}, {data: {behavior: "InsuranceService.Behaviors.LoadSelect2", placeholder: "Select an Application Type"}, class: "select2 col-sm-10", id: "insurance-application-form"})
          .form-group
            .col-sm-10
              = f.select(:company_id, {}, {}, {data: {behavior: "InsuranceService.Behaviors.LoadAjaxSelect2", placeholder: "Select a Company"}, class: "select2 col-sm-10", id: "insurance-company"})
          = f.hidden_field :id, value: nil
      .modal-footer
        %button#insurance-form-submit.btn.btn-primary{data: {behavior: "InsuranceService.Behaviors.SubmitForm", formid: "insurance_application_create"}} Create
